{% extends "_layout.html" %}
{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h1>Store</h1>
<form action="{{ url_for('store_form') }}">
    <div class="form-group">
      <label for="store_name">Store Name:</label>
      <input type='text' name='name' class="form-control" />
    </div>
  
    <button type="submit" class="btn btn-primary">Add a Store</button>
  </form>
{% endblock %}