{% extends "_layout.html" %}
{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h1>Create a Warehouse</h1>
<form action="{{ url_for('w_create') }}" method="POST">
    <div class="form-group">
      <label for="warehouse_location">Location:</label>
      <input type='text' name='location' class="form-control" />
    </div>
  
<select name="store_choice">
    <option disabled selected value> -- select an option -- </option>
    {% for store in stores %}
       <option value="{{ store.id }}">{{ store.name }}</option> 
    {% endfor %}
</select>

    <button type="submit" class="btn btn-primary">Add a Warehouse</button>
</form>
{% endblock %}